{% extends "base.html.twig" %}

{% block title %}Library | Remove book: {{ book.getId }}{% endblock %}

{% block body %}
    <div class="main">
        <h1>Remove book {{ book.getId }} from the library</h1>

        <div class="library-instruction">
            <h4>Check the informations then click Confirm to remove the book from the library collection.</h3>
        </div>

        <form action="" method="post" class="library-form">
            <label>Id</label>
            <input type="text" name="title" value="{{ book.getId }}" readonly>

            <label>Title</label>
            <input type="text" name="title" value="{{ book.getTitle }}" readonly>

            <label>Author</label>
            <input type="text" name="author" value="{{ book.getAuthor }}" readonly>

            <label>ISBN</label>
            <input type="text" name="isbn" value="{{ book.getIsbn }}" readonly>

            <label>Image Path</label>
                <input type="text" name="imagePath" value="{{ book.getImagePath }}" readonly>

            <input type="submit" value="Confirm">
        </form>
    </div>
{% endblock %}
